<?php

namespace %namespace%;

use %subject%;
use PhpSpec\ObjectBehavior;
use Prophecy\Argument;

class %name% extends ObjectBehavior
{
    function it_()
    {
        // $this->new%name%Method($arg1, $arg2)->shouldReturn($result);
    }
}
