*      text=auto
*.bat  eol=crlf

/.github           export-ignore
/docs              export-ignore
/features          export-ignore
/spec              export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/.editorconfig     export-ignore
/box.json          export-ignore
/CHANGES*.md       export-ignore
/CONTRIBUTING.md   export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpstan.neon      export-ignore
