language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  include:
    - php: 5.3
    - php: 5.3
      env: DEPENDENCIES='low'
    - php: 5.4
    - php: 5.5
    - php: 5.6
      env: DEPENDENCIES='dev'
    - php: 5.6
    - php: hhvm
    - php: 7.0
  allow_failures:
    - env: DEPENDENCIES='dev'
  fast_finish: true

before_install:
  - phpenv config-rm xdebug.ini || true

install:
  - export COMPOSER_ROOT_VERSION=dev-master
  - if [ "$DEPENDENCIES" == "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;
  - if [ "$DEPENDENCIES" != "low" ]; then composer update; fi;
  - if [ "$DEPENDENCIES" == "low" ]; then composer update --prefer-lowest; fi;

script:
   - bin/phpspec run --format=dot
   - ./vendor/bin/phpunit
   - ./vendor/bin/behat --format=progress

before_deploy:
  - curl -LSs https://box-project.github.io/box2/installer.php | php
  - export PATH=.:$PATH
  - rm -Rf ./vendor
  - composer install --no-dev -o
  - box.phar build

deploy:
  provider: releases
  api_key:
    secure: eTlXM76IvH1Ws57gtBi5Q7trQ3rEXjt+7wOH4HLw6WhhywMF4THMuQQC0j5DhWtiLJlVYHaIfNbapbG+DVUqyXZZA+aXQSuh9aNM1fbkEShbWFpOrCd+Y3I1lXNvOcGZ5hvJieDVgWSc0osNLCQzaza17fhYUtbKsj4Qwc5ek8k=
  file: phpspec.phar
  skip_cleanup: true
  on:
    tags: true
    php: 5.6
    condition: $DEPENDENCIES != "low"
