language: php

php: [5.3, 5.4, 5.5, 5.6, hhvm, hhvm-nightly]

matrix:
  include:
    - php: 5.3.3
      env: DEPENDENCIES='low'
    - php: 5.6
      env: DEPENDENCIES='dev'
  allow_failures:
    - php: hhvm-nightly
    - env: DEPENDENCIES='dev'
  fast_finish: true

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer selfupdate

install:
  - export COMPOSER_ROOT_VERSION=dev-master
  - if [ "$DEPENDENCIES" == "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;
  - if [ "$DEPENDENCIES" != "low" ]; then composer update; fi;
  - if [ "$DEPENDENCIES" == "low" ]; then composer update --prefer-lowest; fi;

script:
   - sh -c 'if [ "$TRAVIS_PHP_VERSION" = "hhvm" -o "$TRAVIS_PHP_VERSION" = "hhvm-nightly" ]; then hhvm -d hhvm.libxml.ext_entity_whitelist=file bin/phpspec run; else bin/phpspec run; fi;'
   - sh -c 'if [ "$TRAVIS_PHP_VERSION" = "hhvm" -o "$TRAVIS_PHP_VERSION" = "hhvm-nightly" ]; then hhvm -d hhvm.libxml.ext_entity_whitelist=file ./vendor/behat/behat/bin/behat --format=pretty; else ./vendor/bin/behat --format=pretty; fi;'

