language: php

sudo: false

dist: trusty

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  include:
    - php: 7.2
      env: COMPOSER_FLAGS='--prefer-lowest'
    - php: 7.2
    - php: 7.3
    - php: 7.3
      env: DEPENDENCIES='dev'
    - php: 7.4snapshot
  allow_failures:
    - env: DEPENDENCIES='dev'
  fast_finish: true

before_install:
  - phpenv config-rm xdebug.ini || true

install:
  - export COMPOSER_ROOT_VERSION=dev-master
  - if [ "$DEPENDENCIES" == "dev" ]; then composer config minimum-stability dev; fi;
  - composer update $COMPOSER_FLAGS

script:
   - bin/phpspec run --format=dot
   - ./vendor/bin/phpunit -v
   - ./vendor/bin/behat --format=progress

before_deploy:
  - curl -LSs https://box-project.github.io/box2/installer.php | php
  - export PATH=.:$PATH
  - rm -Rf ./vendor
  - composer install --no-dev -o
  - box.phar build

deploy:
  provider: releases
  api_key:
    secure: eTlXM76IvH1Ws57gtBi5Q7trQ3rEXjt+7wOH4HLw6WhhywMF4THMuQQC0j5DhWtiLJlVYHaIfNbapbG+DVUqyXZZA+aXQSuh9aNM1fbkEShbWFpOrCd+Y3I1lXNvOcGZ5hvJieDVgWSc0osNLCQzaza17fhYUtbKsj4Qwc5ek8k=
  file: phpspec.phar
  skip_cleanup: true
  on:
    tags: true
    php: 7.2
    condition: COMPOSER_FLAGS != "--prefer-lowest"
