<phpunit bootstrap="bootstrap.php">
 <testsuites>
  <testsuite name="src">
    <directory>./PHPSpec</directory>
  </testsuite>
 </testsuites>
 <filter>
  <whitelist>
   <directory>../src/PHPSpec</directory>
  </whitelist>
 </filter>
 <logging>
  <log type="coverage-html" target="/var/www/coverage/phpspec" />
 </logging>
</phpunit>