/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
#logo-behat {
  content: '';
  text-indent: -9999px;
  float: left;
  width: 239px;
  height: 89px;
  background: url(images/skel/behat-logo.png);
}
#logo-mink {
  content: '';
  text-indent: -9999px;
  float: left;
  width: 239px;
  height: 89px;
  background: url(images/skel/mink-logo.png);
}
body {
  color: #b5b5b5;
  font-family: 'Trebuchet MS';
  background: #fff url(images/skel/bg.jpg) repeat-x top left;
}
body > header, body > section, body > footer {
  clear: left;
  width: 840px;
  padding: 60px;
  margin: 0px auto;
}
body > header {
  margin-top:20px;
  padding:20px 60px 20px 60px;
}
body > header > nav {
  float: left;
  margin-top: 34px;
  margin-left: 20px;
}
body > header > nav li {
  float: left;
  margin: 0px 2px;
  padding: 2px 7px;
}
body > header > nav li a {
  display: block;
  color: #979797;
  font-family: 'Lobster', arial, serif;
  font-size: 20px;
  text-decoration: none;
}
body > header > nav li a:hover {
  color: #ccc;
}
body > header > nav li.active {
  background: url(images/skel/menu-bg.png);
  -moz-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
}
body > header > nav li.active a {
  color: #fff;
  -moz-transform: skew(10deg);
  -webkit-transform: skew(10deg);
}
body > section.main > dl {
  background: url(images/skel/content-splitter.png) 465px -30px no-repeat;
  min-height: 228px;
}
body > section.main > dl p {
  font-size: 15px;
  line-height: 24px;
}
body > section.main > dl dt h1, body > section.main > dl dt h2 {
  margin-bottom: 10px;
  color: #b7b7b7;
  font-size: 20px;
  font-weight: normal;
}
body > section.main > dl dt h1 span, body > section.main > dl dt h2 span {
  color: #000;
}
body > section.main > dl dt h1 span.behat, body > section.main > dl dt h2 span.behat {
  font-family: 'Lobster', arial, serif;
  margin-right: 5px;
  font-size: 28px;
}
body > section.main > dl .intro {
  float: left;
  width: 445px;
  padding-right: 20px;
}
body > section.main > dl dt.install {
  margin-top: -30px;
}
body > section.main > dl dd.install {
  margin-bottom: 40px;
}
body > section.main > dl .install {
  float: right;
  width: 350px;
}
body > section.main > dl .install pre {
  float: left;
  width: 320px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px 10px;
  font-family: Courier;
  font-size: 12px;
  color: #000;
  -moz-border-radius: 0px 10px 0px 10px;
  -webkit-border-radius: 0px 10px 0px 10px;
  border-radius: 0px 10px 0px 10px;
  background: #fff;
}
body > section.main > dl .install pre .prompt {
  color: #d03e3c;
}
body > section.main > dl .install pre.pear {
  background: #ffffff url(images/skel/install-pear.jpg) no-repeat left bottom;
}
body > section.main > dl .install pre.github {
  background: #ffffff url(images/skel/install-github.jpg) no-repeat left bottom;
}
body > section.main > dl .preview {
  float: left;
  width: 100%;
}
body > section.main > dl .preview dl {
  width: 830px;
  background: red;
  position: relative;
  margin-top: 20px;
}
body > section.main > dl .preview dl dt {
  position: relative;
  float: left;
  z-index: 3;
  width: 180px;
  cursor: pointer;
  margin-right: 630px;
  padding: 10px;
}
body > section.main > dl .preview dl dt h3 {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
body > section.main > dl .preview dl dt h3 span {
  float: left;
  width: 100%;
  margin-top: 5px;
  color: #8b8b8b;
  font-size: 12px;
  font-weight: normal;
}
body > section.main > dl .preview dl dt:hover {
  background: #313131;
}
body > section.main > dl .preview dl dt.active {
  background: #ccc;
}
body > section.main > dl .preview dl dt.active h3, body > section.main > dl .preview dl dt.active span {
  color: #000 !important;
}
body > section.main > dl .preview dl dt.active:after {
  content: '';
  display: block;
  position: absolute;
  right: -11px;
  top: 15px;
  width: 20px;
  height: 20px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #ccc;
}
body > section.main > dl .preview dl dd {
  display: none;
  position: absolute;
  width: 570px;
  height: 235px;
  top: -10px;
  right: 0px;
  padding: 20px 30px;
  background: #fff;
  -moz-border-radius: 0px 10px 0px 10px;
  -webkit-border-radius: 0px 10px 0px 10px;
  border-radius: 0px 10px 0px 10px;
}
body > section.main > dl .preview dl dd pre {
  color: #000;
  font-size: 16px;
}
body > section.main > dl .preview dl dd.active {
  display: block;
}
body > section.main > dl .preview dl dd .info {
  float: right;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  background: #000;
  opacity: 0.5;
}
body > footer {
  position: relative;
  padding-bottom: 0px;
  padding-top:0px;

  /*border-top:1px solid #2a2a2a;
  padding-top:40px;*/
}
body > footer dl, section.documentation > footer dl {
  float: left;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 20px;
}
section.documentation > footer dl + dl {
    float: right;
}
body > footer dl dt, section.documentation > footer dl dt {
  color: #b3b3b3;
  font-family: 'Lobster', arial, serif;
  font-size: 18px;
  margin-bottom: 5px;
}
body > footer dl dd, section.documentation > footer dl dd {
  margin-bottom: 3px;
}
body > footer dl dd a, section.documentation > footer dl dd a {
  color: #c9cbcb;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}
body > footer dl dd a:hover, section.documentation > footer dl dd a:hover {
  text-decoration: underline;
}
body > footer .clear {
  clear: both;
}
body > footer .sponsor {
  position: absolute;
  right: 70px;
  bottom: 25px;
  width: 230px;
}
body > footer .sponsor span {
  color: #b3b3b3;
  font-family: 'Lobster', arial, serif;
  font-size: 18px;
  position: absolute;
  bottom: 5px;
}
body > footer .sponsor a.knp {
  content: '';
  opacity:0.3;
  text-indent: -9999px;
  float: right;
  border: none;
  width: 130px;
  height: 29px;
  background: url(images/skel/knp-logo.png);
}
strong {
    font-weight:bold !important;
}

.main-menu {
  position:absolute;
  top: -10px;
  width: 820px;
  list-style:none;
  border-bottom:1px solid #c4c4c4;
}

.main-menu li {
  float:left;
  width:164px;
  text-align:center;
  padding:8px 0px;
  border-top:5px solid #727272;
}

.main-menu li:hover {
  border-color:#f1f1f1;
}

.main-menu li.active {
  border-color:#000;
}

.main-menu li a {
  text-decoration:none;
  color:#4f4f4f;
  padding:0px 20px;
  padding-bottom:22px;
}

.main-menu li.active a {
  text-decoration:none !important;
  color:#000 !important;
}

.main-menu li.right {
  float:right;
}


body > section.main h1, body > section.main h2, body > section.intro h1 {
  font-style: italic;
  font-family: 'Trebuchet MS';
  font-size:22px !important;
  margin-bottom:10px !important;
  padding:0px;
}
body > section.main h1, body > section.intro h1 {
  font-size:38px !important;
  line-height:48px !important;
  text-align:center;
}
body > section.main h2 {
  text-align:center;
}
body > section.main h1 span, body > section.main h2 span, body > section.intro h1 span {
  color: #000;
}


body > section.main > .intro {
  width:520px;
  margin:80px auto;
  margin-top:30px;
}
body > section.main p {
  font-size: 15px;
  line-height: 24px;
}

body > section.main > .intro-right {
  float:right;
}

body > section.main > .preview {
  float: left;
  width: 100%;
  margin-top:10px;
  margin-bottom:90px;
}
body > section.main > .last {
  margin-bottom:160px;
}
body > section.main > .preview dl {
  width: 830px;
  background: red;
  position: relative;
  margin-top: 20px;
}
body > section.main > .preview dl dt {
  position: relative;
  float: left;
  z-index: 3;
  width: 180px;
  cursor: pointer;
  margin-right: 630px;
  padding: 10px;
}
body > section.main > .preview dl dt div {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
body > section.main > .preview dl dt div span {
  float: left;
  width: 100%;
  margin-top: 5px;
  color: #8b8b8b;
  font-size: 12px;
  font-weight: normal;
}
body > section.main > .preview dl dt:hover {
  background: #313131;
  width:179px;
  border-right:1px solid #1e1e1e;
}
body > section.main > .preview dl dt.active:hover {
  width:180px;
  border:none;
}
body > section.main > .preview dl dt.active {
  background: #ccc;
}
body > section.main > .preview dl dt.active div, body > section.main > .preview dl dt.active span {
  color: #000 !important;
}
body > section.main > .preview dl dt.active:after {
  content: '';
  display: block;
  position: absolute;
  right: -10px;
  top: 15px;
  width: 20px;
  height: 20px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #ccc;
}
body > section.main > .preview dl dd {
  display: none;
  position: absolute;
  width: 590px;
  height: 235px;
  top: -10px;
  right: 0px;
  padding: 20px;
  background: #fff;
  -moz-border-radius: 0px 10px 0px 10px;
  -webkit-border-radius: 0px 10px 0px 10px;
  border-radius: 0px 10px 0px 10px;
}
body > section.main > .preview dl dd pre {
  color: #000;
  font-size: 15px;
}
body > section.main > .preview dl dd.active {
  display: block;
}
body > section.main > .preview dl dd .info {
  float: right;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  background: #000;
  opacity: 0.5;
}


body > section.main .docs {
    margin-top:30px;
    float:left;
    width:150px;
    height:100px;
    margin-right:50px;
    line-height:30px;
    padding-left:80px;
    color:#4f4f4f;
    text-decoration:none;
    font-style: italic;
    font-family: 'Trebuchet MS';
    font-size:22px !important;
}
body > section.main .docs:hover {
    color:#000;
    text-decoration:underline;
}

body > section.main .docs.training {
    background:url(images/training.png) no-repeat;
}

body > section.main .docs.quick-intro {
    background:url(images/page.png) no-repeat;
}

body > section.main .docs.guides {
    background:url(images/page_full.png) no-repeat;
}


body > section.main > .getting-started .left {
    margin-top:30px;
    float:left;
    width:400px;
}

body > section.main > .getting-started .right {
    margin-top:30px;
    float:right;
    width:400px;
}

body > section.main .highlight hr {
  border-color:#4f4f4f;
}

section.intro {
  width:100%;
  padding:50px 0px;
  background: url(images/page-splitter.png) bottom left repeat-x;
}

section.intro > .intro {
  width:650px;
  margin:80px auto;
  margin-top:100px;
}

section.intro #logo {
  content: '';
  text-indent: -9999px;
  width: 261px;
  height: 142px;
  background: url(images/logo.png);
  display:block;
  margin:0px auto;
}

section.intro .preview {
  width:535px;
  margin:100px auto;
  margin-top:130px;
}

section.intro .preview a {
  display:block;
  width:165px;
  padding-left:80px;
  color: #454545;
  font-size:28px;
  font-family: 'Trebuchet MS';
  text-decoration:none;
  margin-right:37px;
  float:left;
  font-style:italic;
  line-height:32px;
}

section.intro .preview a:hover {
  color: #000;
  text-decoration:underline;
}

section.intro .preview a.repo {
  background: url(images/search.png) no-repeat left 10px;
}

section.intro .preview a.manual {
  background: url(images/docs.png) no-repeat left 10px;
  margin-right:0px;
}
